# Copy this file to config.py, and fill in the values below

CONFIG = {
    'creator': '<CKAN USERNAME>', # example: 'janesmith'
    'ckanurl': 'https://data.humdata.org', # or https://test-data.humdata.org for testing
    'apikey': '<CKAN USER API KEY>' # example: '00000000-aaaa-1111-bbbb-222222cccccc',
    'user_agent': None
}
